@import "../../styles/global.scss";

header {
  height: 100vh;
  padding-top: 20px;
  overflow: hidden;
}

.header__container {
  text-align: center;
  position: relative;
  padding-top: 70px;
}

.title {
  font-family: $title-font;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;

  svg {
    fill: $color-light;
    transition: $transition;
    height: 70px;

    &:hover {
      fill: $color-white;
    }
  }
}

/* cta */
.cta {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* socials */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 14px;
  left: 0;
  bottom: 48px;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 32px;
  background: $color-primary;
}

/* me */
.me {
  background: linear-gradient($color-primary, transparent);
  width: 350px;
  margin: 0 auto;
  margin-top: 64px;
  border-radius: 190px 190px 0 0;
  overflow: hidden;
  padding: 50px 18px 0 18px;
}

/* scroll */
.scroll__down {
  position: absolute;
  right: -36px;
  bottom: 80px;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .logo {
    svg {
      height: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header__socials,
  .scroll__down {
    display: none;
  }

  .logo {
    svg {
      height: 34px;
    }
  }
}
@media screen and (max-width: 380px) {
  .title {
    margin: 16px 0;
  }
  .me {
    width: 300px;
  }
}
