@import "../../styles/global.scss";

nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 12px 28px;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  display: flex;
  gap: 14px;
  border-radius: 48px;
  backdrop-filter: blur(8px);
}

nav a {
  background: transparent;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  color: $color-light;
  font-size: 18px;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.4);
}

nav a.active {
  background: $color-primary;
  color: $color-bg;
}
